In [6]:
import pandas as pd

df = pd.read_csv("hotels.csv")

# hot endcoding
# es kann auch eine zweite Spalte hinzugefügt werden
df = pd.get_dummies(df, columns = ["Stadt"])

df.head()

,Gewinn,Preis in Mio,Quadratmeter,Stadt_Berlin,Stadt_Köln,Stadt_München
0,119000.0,21.88,3938.0,1,0,0
1,250000.0,27.95,3986.0,0,0,1
2,250000.0,16.09,2574.0,0,1,0
3,145000.0,27.58,4155.0,0,0,1
4,110000.0,23.76,3795.0,1,0,0

In [9]:
Y = df[["Preis in Mio"]].values

In [10]:
X = df[["Gewinn", "Quadratmeter", "Stadt_Berlin", "Stadt_Köln" ]].values

# Option 2: Angeben welche Spalten ich nicht in X haben möchte
# axis = 1 bedeutet, dass die Spalten gemeint sind und nicht die Daten
# df.drop(labels = ["Preis in Mio", "Stadt_München"], axis = 1).values

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state = 0, test_size = 0.25)

In [21]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y_train)
print(model.score(X_test, Y_test))

0.9688135511825554

In [14]:
model.intercept_

array([9.40053308])

In [15]:
model.coef_

array([[ 1.13058247e-05,  3.88104273e-03, -3.27562421e+00,
        -6.22584051e+00]])

In [16]:
y_test_pred = model.predict(X_test)

In [17]:
y_test_pred

array([[12.41597153],
       [19.19947954],
       [13.35531611],
       [22.69855257],
       [ 9.74139023],
       [19.06303564],
       [13.67759284],
       [ 8.28501804],
       [11.25996164],
       [34.35669491],
       [15.27357954],
       [24.76472822],
       [19.76279774],
       [20.72695211],
       [11.63318352],
       [ 9.11331588],
       [24.75614907],
       [ 6.60126521],
       [ 8.12758181],
       [14.80670207],
       [26.4886448 ],
       [ 6.83379047],
       [21.88077617],
       [25.07254146],
       [17.21346067],
       [14.05074815],
       [24.72783812],
       [32.0683791 ],
       [17.08349008],
       [15.55283523],
       [ 7.53294106],
       [ 9.14571343],
       [ 8.03869617],
       [ 6.73041053],
       [13.15861222],
       [ 9.80925593],
       [17.34738095],
       [15.27596273]])

In [18]:
Y_test

array([[14.56],
       [16.32],
       [13.09],
       [22.87],
       [ 8.94],
       [19.13],
       [13.77],
       [ 9.63],
       [10.41],
       [32.78],
       [12.98],
       [23.6 ],
       [20.27],
       [21.26],
       [13.86],
       [ 9.76],
       [24.81],
       [ 6.62],
       [ 8.69],
       [14.16],
       [28.49],
       [ 6.95],
       [22.4 ],
       [24.87],
       [16.94],
       [15.54],
       [24.78],
       [30.14],
       [16.15],
       [17.75],
       [ 7.91],
       [ 7.98],
       [ 6.73],
       [ 6.3 ],
       [13.21],
       [10.94],
       [19.59],
       [15.18]])

In [19]:
# Durchläuft die predicted Daten und gibt vorhandenen Elemente

for i in range(0,len(y_test_pred)):
   print (str(y_test_pred[i][0]) + " - " + str(Y_test[i][0]))

12.415971534332172 - 14.56
19.199479543360034 - 16.32
13.355316105244698 - 13.09
22.69855256704227 - 22.87
9.741390230261354 - 8.94
19.06303564404496 - 19.13
13.67759283537859 - 13.77
8.285018043138788 - 9.63
11.25996163994101 - 10.41
34.356694913034474 - 32.78
15.273579543006084 - 12.98
24.76472822436429 - 23.6
19.76279774237404 - 20.27
20.726952109338256 - 21.26
11.633183516483548 - 13.86
9.11331587623736 - 9.76
24.75614907441483 - 24.81
6.601265212534453 - 6.62
8.127581808723562 - 8.69
14.806702066793482 - 14.16
26.488644800581863 - 28.49
6.833790473044253 - 6.95
21.88077616938599 - 22.4
25.072541461222947 - 24.87
17.213460673433353 - 16.94
14.0507481486726 - 15.54
24.727838117863847 - 24.78
32.06837909726073 - 30.14
17.083490084664714 - 16.15
15.55283522532317 - 17.75
7.532941063626385 - 7.91
9.145713432256755 - 7.98
8.03869617063201 - 6.73
6.730410528570588 - 6.3
13.158612223070074 - 13.21
9.809255927033025 - 10.94
17.347380952412113 - 19.59
15.275962725832567 - 15.18

0.9688135511825554