In [6]:
import pandas as pd

df = pd.read_csv("diamonds.csv")

df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

import numpy as np

X = df[["carat"]].values
Y = df[["price"]].values

scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold())

print(scores)
print("------------------")
print(np.mean(scores))

[0.84941753 0.84860854 0.84905264 0.85144155 0.847981   0.84382339
 0.8487475  0.84416421 0.85917776 0.85089292 0.85270947 0.84956171
 0.84798199 0.84773824 0.84863358 0.84464406 0.84669622 0.84956587
 0.85118587 0.85437303 0.84886034 0.84683526 0.85080839 0.84921662
 0.85078308 0.84771456 0.85051397 0.84895447 0.85321244 0.84608753
 0.84897474 0.85049064 0.85103663 0.84917268 0.84689316 0.8435136
 0.85053655 0.85668573 0.84448933 0.85070847 0.8581758  0.85393367
 0.84312191 0.83992755 0.8511821  0.84697962 0.85277601 0.84960551
 0.84458799 0.85244564]
------------------
0.8492924208223187

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

import numpy as np
X = df[["x","y","z"]].values
Y = df[["price"]].values

scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold())

print(scores)
print("-----------------")
print(np.mean(scores))

[0.78467303 0.78540722 0.77716777 0.7759929  0.78189884 0.77622422
 0.78516917 0.78719386 0.77770902 0.77960274 0.78318835 0.7778724
 0.77679617 0.78077752 0.78759122 0.773644   0.79228558 0.78248304
 0.77387771 0.78212342 0.77275838 0.78367645 0.78374314 0.78437868
 0.78029224 0.77755498 0.78268775 0.78510954 0.56291956 0.79071307
 0.77759869 0.77396088 0.78498411 0.78314589 0.78591039 0.78179417
 0.7670045  0.78478997 0.78844014 0.78345993 0.78167351 0.78931203
 0.78335036 0.77540974 0.77796422 0.77952589 0.77984074 0.78519956
 0.77226698 0.78798571]
-----------------
0.7769825870614038