In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("classification.csv")

#Zufallszahlen generieren
df["extra"] = np.random.normal(5, 16, len(df))

df.head()

         age   interest  success      extra
0  23.657801  18.859917      0.0   7.454709
1  22.573729  17.969223      0.0   0.915403
2  32.553424  29.463651      0.0  -6.168842
3   6.718035  25.704665      1.0 -25.927217
4  14.401919  16.770856      0.0 -20.214035

In [4]:
df.cov()

                age    interest   success       extra
age       78.570491   27.806832  0.762027   -0.149653
interest  27.806832  482.085576  8.285170  -16.041465
success    0.762027    8.285170  0.246064   -0.370059
extra     -0.149653  -16.041465 -0.370059  261.166624

In [5]:
df.corr()

               age  interest   success     extra
age       1.000000  0.142876  0.173307 -0.001045
interest  0.142876  1.000000  0.760703 -0.045209
success   0.173307  0.760703  1.000000 -0.046162
extra    -0.001045 -0.045209 -0.046162  1.000000

In [6]:
x = [1, 2, 3, 4, 5, 6, 7]
y = [1, 1, 0, 0, 0, 1, 1]

In [7]:
np.cov(x, y)

array([[ 4.66666667e+00, -3.70074342e-17],
       [-3.70074342e-17,  2.85714286e-01]])

In [8]:
np.corrcoef(x,y)

array([[ 1.00000000e+00, -3.20493781e-17],
       [-3.20493781e-17,  1.00000000e+00]])

Kovarianz und Korrelation, zeigen nur lineare Zusammenh√§nge an