In [3]:
import pandas as pd
df = pd.read_csv("hotels.csv")
df.head()

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin

In [25]:
scores = []
for i in range (0,100):
    # Werte aus dem DataFrame extrahieren

    x = df[["Quadratmeter", "Gewinn"]].values
    y = df[["Preis in Mio"]].values
    
    from sklearn.model_selection import train_test_split

    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

    from sklearn.linear_model import LinearRegression

    model = LinearRegression()
    model.fit(x_train, y_train)

    scores.append(model.score(x_test, y_test))

print (sum(scores)/len(scores))

0.8197362889797273