In [30]:
import pandas as pd

df = pd.read_csv("classification.csv")

df.head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
3   6.718035  25.704665      1.0
4  14.401919  16.770856      0.0

In [31]:
from sklearn.model_selection import train_test_split

X = df[["age", "interest"]].values
Y = df["success"].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [32]:
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ("knn", KNeighborsClassifier())
])

In [33]:
from sklearn.model_selection import GridSearchCV

# Parameter setzten und 1 bis 10 n durchprobieren
clf = GridSearchCV(pipeline, param_grid = {
    "knn__n_neighbors": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
})

clf.fit(X_train, Y_train)

# gibt den besten Parameter zur√ºck
print(clf.best_params_)

{'knn__n_neighbors': 9}

/Users/blertaduraku/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/Users/blertaduraku/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [34]:
print(clf.score(X_test, Y_test))

0.92

In [35]:
# k fold cross validation
print(clf.best_score_)

0.9279279279279279